<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.com.gemini.business.supermarket.marketing.mapper.MarketingCouponMapper">

    <resultMap id="resultMap" type="com.gemini.business.supermarket.marketing.po.MarketingCouponPo">
        <id column="id" property="id" javaType="Integer"/>
        <result column="name" property="name" javaType="String"/>
        <result column="discount_amount" property="discountAmount" javaType="java.math.BigDecimal"/>
    </resultMap>

    <sql id="fields">
                            c.name,
                    c.discount_amount
    </sql>

    <sql id="table">
        d_l_risk_dict c
    </sql>

    <sql id="where">
        <where>
            <if test="name != null and name != ''">
                and c.name = #{name}
            </if>
            <if test="discountAmount != null and discountAmount != ''">
                and c.discount_amount = #{discountAmount}
            </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>


</mapper>
