<div id="addOrUpdate" style="display: none">
    <form class="layui-form layui-form-pane">
        <input type="hidden" name="id">
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">昵称<span class="require">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">电话<span class="require">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户密码<span class="require">*</span></label>
                    <div class="layui-input-block">
                        <input type="password" name="password" required lay-verify="required" placeholder=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn save" lay-submit lay-filter="saveButton">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary reset">重置</button>
            </div>
        </div>
    </form>
</div>

