<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.supermarket.order.mapper.OrderHistoryMapper">

    <resultMap id="resultMap" type="com.gemini.business.supermarket.order.po.OrderHistoryPo">
        <id column="id" property="id" javaType="Long"/>
        <result column="order_id" property="orderId" javaType="Long"/>
        <result column="order_no" property="orderNo" javaType="String"/>
    </resultMap>

    <sql id="fields">
                            h.order_id,
                    h.order_no
    </sql>

    <sql id="table">
        d_l_risk_dict h
    </sql>

    <sql id="where">
        <where>
            <if test="orderId != null and orderId != ''">
                and h.order_id = #{orderId}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and h.order_no = #{orderNo}
            </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>


</mapper>
