<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.com.gemini.business.supermarket.shopping.mapper.ShoppingCartMapper">

    <resultMap id="resultMap" type="com.gemini.business.supermarket.shopping.po.ShoppingCartPo">
        <id column="id" property="id" javaType="Long"/>
        <result column="member_id" property="memberId" javaType="Long"/>
        <result column="member_nickname" property="memberNickname" javaType="String"/>
        <result column="goods_id" property="goodsId" javaType="Long"/>
        <result column="goods_name" property="goodsName" javaType="String"/>
        <result column="unit_price" property="unitPrice" javaType="java.math.BigDecimal"/>
        <result column="quantity" property="quantity" javaType="Long"/>
        <result column="total_price" property="totalPrice" javaType="java.math.BigDecimal"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="fields">
                            c.member_id,
                    c.member_nickname,
                    c.goods_id,
                    c.goods_name,
                    c.unit_price,
                    c.quantity,
                    c.total_price,
                    c.create_time
    </sql>

    <sql id="table">
        d_l_risk_dict c
    </sql>

    <sql id="where">
        <where>
            <if test="memberId != null and memberId != ''">
                and c.member_id = #{memberId}
            </if>
            <if test="memberNickname != null and memberNickname != ''">
                and c.member_nickname = #{memberNickname}
            </if>
            <if test="goodsId != null and goodsId != ''">
                and c.goods_id = #{goodsId}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and c.goods_name = #{goodsName}
            </if>
            <if test="unitPrice != null and unitPrice != ''">
                and c.unit_price = #{unitPrice}
            </if>
            <if test="quantity != null and quantity != ''">
                and c.quantity = #{quantity}
            </if>
            <if test="totalPrice != null and totalPrice != ''">
                and c.total_price = #{totalPrice}
            </if>
            <if test="createTime != null and createTime != ''">
                and c.create_time = #{createTime}
            </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>


</mapper>
