<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.supermarket.platform.mapper.LoginLogMapper">

    <resultMap id="resultMap" type="com.gemini.business.supermarket.platform.po.LoginLogPo">
        <id column="id" property="id" javaType="Long"/>
        <result column="user_account" property="userAccount" javaType="String"/>
        <result column="user_name" property="userName" javaType="String"/>
        <result column="login_state_id" property="loginStateId" javaType="Long"/>
        <result column="login_state_code" property="loginStateCode" javaType="String"/>
        <result column="login_state_name" property="loginStateName" javaType="String"/>
        <result column="message" property="message" javaType="String"/>
        <result column="create_time" property="createTime" javaType="Date"/>
    </resultMap>

</mapper>
