<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.com.gemini.business.supermarket.goods.mapper.GoodsCategoryMapper">

    <resultMap id="resultMap" type="com.gemini.business.supermarket.goods.po.GoodsCategoryPo">
        <id column="id" property="id" javaType="Long"/>
        <result column="pid" property="pid" javaType="Long"/>
        <result column="name" property="name" javaType="String"/>
        <result column="icon" property="icon" javaType="String"/>
        <result column="sort" property="sort" javaType="Byte"/>
        <result column="state_id" property="stateId" javaType="Long"/>
        <result column="state_code" property="stateCode" javaType="String"/>
        <result column="state_name" property="stateName" javaType="String"/>
        <result column="modify_user_id" property="modifyUserId" javaType="Long"/>
        <result column="modify_user_name" property="modifyUserName" javaType="String"/>
        <result column="modify_time" property="modifyTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="fields">
                            c.pid,
                    c.name,
                    c.icon,
                    c.sort,
                    c.state_id,
                    c.state_code,
                    c.state_name,
                    c.modify_user_id,
                    c.modify_user_name,
                    c.modify_time
    </sql>

    <sql id="table">
        d_l_risk_dict c
    </sql>

    <sql id="where">
        <where>
            <if test="pid != null and pid != ''">
                and c.pid = #{pid}
            </if>
            <if test="name != null and name != ''">
                and c.name = #{name}
            </if>
            <if test="icon != null and icon != ''">
                and c.icon = #{icon}
            </if>
            <if test="sort != null and sort != ''">
                and c.sort = #{sort}
            </if>
            <if test="stateId != null and stateId != ''">
                and c.state_id = #{stateId}
            </if>
            <if test="stateCode != null and stateCode != ''">
                and c.state_code = #{stateCode}
            </if>
            <if test="stateName != null and stateName != ''">
                and c.state_name = #{stateName}
            </if>
            <if test="modifyUserId != null and modifyUserId != ''">
                and c.modify_user_id = #{modifyUserId}
            </if>
            <if test="modifyUserName != null and modifyUserName != ''">
                and c.modify_user_name = #{modifyUserName}
            </if>
            <if test="modifyTime != null and modifyTime != ''">
                and c.modify_time = #{modifyTime}
            </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>

</mapper>
